.sideBySide {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 1rem;
}

.left {
    flex: 1;
    min-width: 300px;
}

.right {
    flex: 1;
    min-width: 300px;
    background: #f9f9f9;
    border-left: 4px solid #d3d3d3;
    padding: 1rem;
    border-radius: 6px;
}